name: "Terraform CI/CD"

on:
  push:
    branches:
      - main

jobs:
  plan:
    runs-on: ubuntu-latest

    steps:
      - name: 游깴 Configurar credenciales AWS
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV

      - name: 游닌 Clonar repositorio
        uses: actions/checkout@v3

      - name: 游댢 Instalar Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.8

      - name: 游끵 Inicializar Terraform
        run: terraform init

      - name: 游댌 Plan de Terraform
        run: terraform plan

  manual_approval:
    needs: plan
    runs-on: ubuntu-latest
    steps:
      - name: Esperando Aprobaci칩n Manual
        run: echo "Aprobaci칩n manual requerida. Ir a 'Actions' para continuar."
        shell: bash

  apply:
    runs-on: ubuntu-latest

    steps:
      - name: 游깴 Configurar credenciales AWS
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV

      - name: 游닌 Clonar repositorio
        uses: actions/checkout@v3

      - name: 游댢 Instalar Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.8

      - name: 游끵 Inicializar Terraform
        run: terraform init

      - name: 游 Aplicar cambios (solo en main)
        if: github.ref == 'refs/heads/main'
        run: terraform destroy -auto-approve
